<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shop at Mini All Mart for devices, clothing, and accessories. Find the best deals online!">
    <meta name="keywords" content="ecommerce, shopping, devices, clothing, accessories, Mini All Mart">
    <meta name="author" content="Steve Muthure">
    <meta property="og:title" content="Mini All Mart - Shop">
    <meta property="og:description" content="Discover a wide range of products at Mini All Mart, from devices to accessories.">
    <meta property="og:image" content="{{ url_for('static', filename='img/iconsupr.png') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Mini All Mart - Shop</title>
    <link rel="icon" href="{{ url_for('static', filename='img/iconsupr.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <nav class="d-inline-flex align-items-center h-100" aria-label="Top navigation">
                    <a class="text-body mr-3" href="{{ url_for('contact') }}" aria-label="About page">About</a>
                    <a class="text-body mr-3" href="{{ url_for('contact') }}" aria-label="Contact page">Contact</a>
                    <a class="text-body mr-3" href="{{ url_for('contact') }}" aria-label="Help page">Help</a>
                    <a class="text-body mr-3" href="{{ url_for('contact') }}" aria-label="FAQs page">FAQs</a>
                </nav>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="My Account">My Account</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">Sign in</a></li>
                            <li><a class="dropdown-item" href="#">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="btn-group mx-2">
                        <span class="btn btn-sm btn-light">KSH</span>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Language">EN</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><button class="dropdown-item" type="button">FR</button></li>
                            <li><button class="dropdown-item" type="button">AR</button></li>
                            <li><button class="dropdown-item" type="button">RU</button></li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="#" class="btn px-0 ml-2" aria-label="Wishlist">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="{{ url_for('cart') }}" class="btn px-0 ml-2" aria-label="Shopping Cart">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5">
            <div class="col-lg-4 col-12">
                <a href="{{ url_for('index') }}" class="text-decoration-none d-block" aria-label="Mini All Mart Home">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Mini</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">All Mart</span>
                </a>
            </div>
            <div class="col-lg-4 col-8 text-left d-none d-lg-block">
                <form action="{{ url_for('shop') }}" method="GET" role="search">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search for products" name="search" aria-label="Search products" value="{{ request.args.get('search', '') }}">
                        <button class="input-group-text bg-transparent text-primary" type="submit" aria-label="Search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-4 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+254758510206</h5>
                <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-search" aria-expanded="false" aria-controls="mobile-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-12 collapse d-lg-none" id="mobile-search">
                <form action="{{ url_for('shop') }}" method="GET" role="search" class="mt-2">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search for products" name="search" aria-label="Search products" value="{{ request.args.get('search', '') }}">
                        <button class="input-group-text bg-transparent text-primary" type="submit" aria-label="Search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <button class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-bs-toggle="collapse" data-bs-target="#navbar-vertical" aria-expanded="false" aria-controls="navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </button>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropend">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Shop by Category <i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                {% for category in categories %}
                                <a href="{{ url_for('shop', category=category) }}" class="dropdown-item">{{ category | capitalize }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% for category in categories %}
                        <a href="{{ url_for('shop', category=category) }}" class="nav-link">{{ category | capitalize }}</a>
                        {% endfor %}
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0" aria-label="Main navigation">
                    <a href="{{ url_for('index') }}" class="text-decoration-none d-block d-lg-none" aria-label="Mini All Mart Home">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Mini</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">All Mart</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{{ url_for('index') }}" class="nav-item nav-link">Home</a>
                            <a href="{{ url_for('shop') }}" class="nav-item nav-link active">Shop</a>
                            <a href="{{ url_for('shop') }}" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="{{ url_for('cart') }}" class="dropdown-item">Shopping Cart</a>
                                    <a href="{{ url_for('checkout') }}" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="#" class="btn px-0" aria-label="Wishlist">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="{{ url_for('cart') }}" class="btn px-0 ml-3" aria-label="Shopping Cart">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav aria-label="breadcrumb" class="breadcrumb bg-light mb-30">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" href="{{ url_for('index') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span></h5>
                <div class="bg-light p-4 mb-30">
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('shop') }}" class="text-dark">All Products</a></li>
                        {% for category in categories %}
                        <li><a href="{{ url_for('shop', category=category) }}" class="text-dark">{{ category | capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('shop') }}" class="text-dark">All Prices</a></li>
                        <li><a href="{{ url_for('shop', price='0-5000') }}" class="text-dark">KSH 0 - KSH 5,000</a></li>
                        <li><a href="{{ url_for('shop', price='5000-20000') }}" class="text-dark">KSH 5,000 - KSH 20,000</a></li>
                        <li><a href="{{ url_for('shop', price='20000-50000') }}" class="text-dark">KSH 20,000 - KSH 50,000</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light" aria-label="Grid view"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2" aria-label="List view"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Sort options">Sort By</button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="dropdown-item" href="{{ url_for('shop', sort='name-asc') }}">Name (A-Z)</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('shop', sort='price-asc') }}">Price (Low to High)</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('shop', sort='price-desc') }}">Price (High to Low)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100" id="products" role="region" aria-live="polite">
                        {% if products %}
                            {% for product in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="{{ product.image }}" alt="{{ product.product_name }}">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="#" data-product-id="{{ product.product_id }}" data-action="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="{{ url_for('shop') }}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="{{ url_for('shop') }}">{{ product.product_name }}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>{{ product.selling_price | format_currency }}</h5>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            {% for _ in range(4) %}
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            {% endfor %}
                                            <small class="far fa-star text-primary mr-1"></small>
                                            <small>({{ 99 - loop.index * 10 }})</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12 text-center" id="loading">No products found.</div>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('shop', page=pagination.prev_num, category=request.args.get('category'), price=request.args.get('price'), sort=request.args.get('sort'), search=request.args.get('search')) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for page_num in pagination.iter_pages() %}
                                    {% if page_num %}
                                        {% if page_num == pagination.page %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('shop', page=page_num, category=request.args.get('category'), price=request.args.get('price'), sort=request.args.get('sort'), search=request.args.get('search')) }}">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    {% endif %}
                                {% endfor %}
                                {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('shop', page=pagination.next_num, category=request.args.get('category'), price=request.args.get('price'), sort=request.args.get('sort'), search=request.args.get('search')) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">For any query, feel free to get in touch below or visit our Main-branch</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3" aria-hidden="true"></i>Kirigiti Opp LSK building, Kiambu</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3" aria-hidden="true"></i>steveleo254@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3" aria-hidden="true"></i>+254758510206</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{{ url_for('index') }}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="{{ url_for('shop') }}"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="{{ url_for('shop') }}"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="{{ url_for('cart') }}"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="{{ url_for('checkout') }}"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="{{ url_for('contact') }}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{{ url_for('index') }}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="{{ url_for('shop') }}"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="{{ url_for('shop') }}"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="{{ url_for('cart') }}"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="{{ url_for('checkout') }}"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="{{ url_for('contact') }}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Stay updated with our latest offers</p>
                        <form action="/newsletter-signup" method="POST">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Your Email Address" name="email" required aria-label="Email for newsletter">
                                <button class="btn btn-primary" type="submit" aria-label="Sign up for newsletter">Sign Up</button>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    © <a class="text-primary" href="{{ url_for('index') }}">Mini All Mart</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://steveleoprof.netlify.app/">Steve Muthure</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{{ url_for('static', filename='img/payments.png') }}" alt="Accepted Payment Methods">
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-primary back-to-top" aria-label="Back to top"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('[data-action="add-to-cart"]').click(function(e) {
                e.preventDefault();
                const productId = $(this).data('product-id');
                $.ajax({
                    url: '{{ url_for("cart") }}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        action: 'add',
                        product_id: productId,
                        quantity: 1,
                        csrf_token: '{{ csrf_token }}'
                    }),
                    success: function(response) {
                        alert(response.message);
                        $('.badge.text-secondary').text(response.cart.length);
                    },
                    error: function(xhr) {
                        alert(xhr.responseJSON.error || 'Error adding to cart');
                    }
                });
            });
        });
    </script>
</body>
</html>